<html>
    <head>
    <title></title>
    </head>
    <body> {challenge}
        <script src="https://demo.yubico.com/js/u2f-api.js"></script>
        <script>
        var challenge = challenge;
        console.log("Challenge >>>>>> ", challenge)
        u2f.sign([challenge], [],
        function(deviceResponse) {
            document.getElementById('response-input').value = JSON.stringify(deviceResponse)
            document.getElementById('login-form').submit()
        }
        );
</script>
    </body>
</html>